<footer class="site-footer">
  <div class="site-footer__wrap">
    <div>
      {% include components/logo.html theme="dark" %}
    </div>
    <div class="space--sm"></div>
    <div>
  		<a href="https://training.fibaro.com.au/terms-of-use" target="_blank" class="site-footer__link">Terms of use</a> |
      <a href="mailto:andrew@fibaro.com" target="_blank" class="site-footer__link">Email us</a> |
      <a href="http://www.fibaro.com.au/" target="_blank" class="site-footer__link">fibaro.com.au</a>
    </div>
    <div class="space--md text--sm">
      <p>© 2018. FIBARO AUS. All rights reserved.</p>
    </div>
  </div>
</footer>